* {
  xbackground-color: black;
  color: white;
}

body {
  font-family: "Koulen", cursive;
  font-weight: 100;
  background-color: black;
  /*Helvetica, sans-serif;*/
}

/*HhHhHhHhHhHhHhHhHhH && a*/

h1 {
  color: whitesmoke;
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: stretch;
}

a {
  color: blue;
}

ol {
  color: white;
  list-style-position: outside;
  list-style-type: upper-roman;

  padding-left: 2em;
}
/*NAVIGATION zu Beginn*/

.flexnav {
  border: solid;
  border-left: 0em;
  border-right: 0em;

  display: flex;

  column-gap: 50px;
  flex-direction: row;
  justify-content: space-around;
}

section {
  margin: 100px 10px;

  border: 100px;
  border-color: white;
  border: solid 1px;

  /*background:white*/
}

.decoration {
  display: flex;
  justify-content: space-between;
}

.heading {
  padding-top: 50px;
  margin-top: -50px;
}

.sectioninside {
  align-items: center;
  justify-content: center;
  margin: 2em 1em;

  /*  */
}

.imagetransform {
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-right: 50%;
}

.imagetransform2 {
  width: 10%;
  height: 10%;
}

/*
.imagetransform2 {
  width: 10%;
  height: 10%;

  
  flex-direction: row;
  align-items: flex-end;
  margin-left: 30%;
  margin-right: 50%;
  
}
.imagetransform3 {
  width: 10%;
  height: 10%;

  
    flex-direction: row-reverse;
    align-items: center;
  
}
.imagetransformexit {
  width: 10%;
  height: 10%;

  /
  gap: 1rem; 
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;  
  
}
*/

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}

.sectionsflex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
