* {
  background-color: black;
  color: white;
}

body {
  font-family: "Koulen", cursive;
  font-weight: 100;
  /*Helvetica, sans-serif;*/
}

/*HhHhHhHhHhHhHhHhHhH*/

h1 {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

/*NAVIGATION zu Beginn*/
.flexnav {
  border: solid;
  border-left: 0em;
  border-right: 0em;

  display: flex;

  column-gap: 50px;
  flex-direction: row;
  justify-content: space-around;
}

ol {
  color: white;
  list-style-position: outside;
  list-style-type: upper-roman;

  padding-left: 2em;
}

section {
  margin: 100px 10px;

  border: 100px;
  border-color: white;
  border: solid 1px;

  /*background:white*/
}
.sectioninside {
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 2em 1em;
}

a {
  color: blue;
}

footer {
  display: flex;
  justify-content: center;
}

.imagetransform {
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-right: 50%;
}
