* {
  background-color: black;
  color: white;
}

body {
  font-family: Helvetica, sans-serif;
}

h1 {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}

h2 {
  text-align: center;
}

/*p {
    color: white;
}*/

ol {
  color: white;
  list-style-type: upper-roman;
}

section {
  margin: 1000px 10px;

  border: 100px;
  border-color: white;
  border: solid 1px;

  /*background:white*/
}

a {
  color: blue;
}
